# local builds & dev files; not needed in repo
.git
.run
.env
.idea
*.iml
build/
target/
.github/
.private/

# gradle caches
.gradle/

# common .ignore patterns
.DS_Store
*.swp
*.txt
*.log
*.bak
*.old
