# common .ignore patterns
.DS_Store
*.swp
*.log
*.bak
*.old

# local builds & dev files; not needed in repo
.run
.env
.idea
*.iml
build/
target/
.gradle/
.private/
.secrets

# local-only Terraform files
/terraform/.terraform/
/terraform/.tfvars
*.tfstate
*.tfstate.backup
*.lock.hcl